@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #FFF;
  background: #020C24;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #020C24);
}

.navbar a {
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: #313CB3;
}

.main {
  min-height: 100vh;
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: 0.3s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease-in-out;
}

.home-content p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 90px;
  animation: fadeIn 0.8s ease-in-out;
}

.home-content .start-btn {
  width: 150px;
  height: 55px;
  background: #1C28AB;
  border: 2px solid #FFF;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #1C28AB;
  font-size: 18px;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  animation: fadeIn 0.8s ease-in-out;
}

.home-content .start-btn:hover {
  background: #020C24;
  box-shadow: none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: #020C24;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
}

.popup-info h2 {
  font-size: 50px;
  color: #FFF;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #727587;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #727587;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #020C24;
  border: 2px solid #FFF;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: transparent;
  color: #313CB3;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: #313CB3;
  color: #FFF;
}

.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  background: #070335;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.8s ease-in-out;
  transition-delay: 0.25s;
}

.quiz-section.active {
  left: 0;
}

.quiz-section .quis-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid #313CB3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: 0.3s ease;
  transition-delay: 0s;
}

.quiz-section .quis-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
}

.quis-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #1C28AB, transparent);
  border-radius: 6px;
}

.quis-box .quis-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #313CB3;
  margin-bottom: 30px;
}

.quis-header span {
  font-size: 18px;
  font-weight: 500;
}

.quis-header .header-score {
  background: #070335;
  border-radius: 3px;
  padding: 7px;
}

.quis-box .question-text {
  font-size: 24px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid #727587;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.option-list .option:hover {
  background: #313CB3;
  border-color: #313CB3;
}

.option-list .option.correct {
  background: #020C24;
  color: #ADFF2F;
  border-color: #ADFF2F;
}

.option-list .option.incorrect {
  background: #020C24;
  color: #FF0000;
  border-color: #FF0000;
}

.option-list .option.disabled {
  pointer-events: none;
}

.quis-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #313CB3;
  padding-top: 20px;
  margin-top: 25px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: #727587;
  border: 2px solid #727587;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;
}

.quiz-footer .next-btn.active:hover {
  background: #313CB3;
  border-color: #313CB3;
}

.quiz-footer .next-btn.active {
  pointer-events: auto;
  background: #1C28AB;
  border-color: #1C28AB;
  color: #FFF;
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: transparent;
  border: 2px solid #1C28AB;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
  font-size: 52px;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.percentage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#1C28AB 3.6deg, #727587 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-container .circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: #020C24;
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.result-box .buttons {
  display: flex;
}

.buttons button {
  width: 130px;
  height: 47px;
  background: #1C28AB;
  border: 2px solid #1C28AB;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(1):hover {
  background: #313CB3;
  border-color: #313CB3;
}

.buttons button:nth-child(2) {
  background: transparent;
  color: #1C28AB;}

.buttons button:nth-child(2):hover {
  background: #1C28AB;
  color: #FFF;
}

.click-effect {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(28, 40, 171, 0.5);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.6s linear;
  pointer-events: none;
  z-index: 9999;
}

@keyframes ripple {
  to {
    transform: scale(15);
    opacity: 0;
  }
}

header {
  background: #11151a;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

nav a.active {
  color: #c40094;
}

.about {
  padding: 80px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("about.jpg");
  background-size: cover;
  background-position: center;
}

.about-content {
  max-width: 800px;
  background: #070335;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-in-out;
}

.about-content h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #c40094;
  text-align: center;
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.7;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact {
  padding: 80px 20px;
  min-height: 100vh;
  text-align: center;
  background: url("contact.jpg");
  background-size: cover;
  background-position: center;
}

.contact h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #c40094;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-box {
  background: #fff;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
  word-wrap: break-word;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.8s ease-in-out;
}

.contact-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  object-position: 50% 20%;
}

.contact-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.15);
}

.contact-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.contact-box p {
  font-size: 0.95rem;
  color: #555;
  margin: 0;
  word-break: break-word;
}

.contact-box a {
  color: #c40094;
  text-decoration: none;
}

.contact-box a:hover {
  text-decoration: underline;
}

body {
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.fade-in {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}
